<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite" thread-count="1">
    <test verbose="2" preserve-order="false" parallel="classes" name="/Users/cb-vinayak/work/selenium/src/test/java/GitHubSearch.java">
        <classes>
            <class name="GitHubSearch"/>
        </classes>
    </test></suite>